{% extends "base_generic.html" %}

{% block content %}
<!--Index buttons-->
<h1 style="font-family: candara;">Welcome to your company's knowledge base</h1>
<body>
    <div class="row center">
        <form id="assetDropdown" action="{% url 'question'%}" method="post">
            {% csrf_token %}
            {{ assetDropdown }}
            <select name=selectedElement>
                {% for item in numAsset %}
                    <option value="{{ item.id}}">{{ item.assetName }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="row center">
        <button type="submit" form="assetDropdown">Ask Question</button>
    </div>
    <div class="row center">
        <button type="submit" formaction="{% url 'threats' %}" form="assetDropdown">See common threats</button>
    </div>
</body>
{% endblock %}
