{% extends "base_generic.html" %}

{% block content %}
<!--Index buttons-->
    <h1 style="font-family: candara;">Welcome to your company's knowledge base</h1>
    <body>
    <div class="row center">
    <form method="post" action="">
        {{ assetDropdown }}
    </form>
        <select>
        {% for item in numAsset %}
            <option value="{{ item.id}}">{{ item.assetName }}</option>
        {% endfor %}
        </select>
    </div>

<div id="div" class="row center">
        <a href="question/" class="button">Ask a question</a>
</div>
    <div class="row center">
        <a href="threats/" class="button">See common threats</a>
    </div>
    </body>
{% endblock %}
