{% extends "base_generic.html" %}
{% block content %}
<h1>Submit new threat</h1>
<div style="background-color:palegoldenrod; border-color:palegoldenrod; border-width:10px; border-radius:4px; padding:9px"><form id="threatInput" method="post" action="{% url 'threatSubmitResult' selectedAsset %}">
Submitting for asset: {{ selectedAsset }} <br>
    {% csrf_token %}
    {{ threatInputTextField }}
</form></div><br>
<button class="btn btn-warning" style="background-color:springgreen; border-color: springgreen;" type="submit" form="threatInput">Submit</button>
{% endblock %}